@using WebShopWebApp.ViewModels
@model UserRegisterVM

@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">User Successfully Created</h4>
                </div>
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Username)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Username)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Password)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Password)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FirstName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Phone)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Login" class="btn btn-outline-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
